name: "Update flake.lock"

on:
  workflow_dispatch: # allows manual triggering
  schedule:
    - cron: '0 5 * * 0'

jobs:
  lockfile:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - uses: DeterminateSystems/update-flake-lock@main
        with:
          pr-title: "Update flake.lock"
          pr-assignees: wolffaxn
          pr-labels: dependencies
